*{
   box-sizing: border-box;
   padding: 0;
   margin:0;
}


.container{
   background-color:  #1DA1F2;
   color: white; 
   width:100vw;
   height:100vh;
   display: flex;
   justify-content: center;
   align-items:center;
   flex-direction: column;
}

.log_block{
   background-color: white;
   color:black;
   height: 60%;
   width: 30%;
   padding: 50px;
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items:center;
   flex-direction: column;
   /* border: solid green 5px; */
}

.sign_block{
   background-color: white;
   color:black;
   height: 100%;
   width: 50%;
   padding: 50px;
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items:center;
   flex-direction: column;
   /* border: solid green 5px; */
}

.button{
   border-radius: 20px;
   padding: 5px 20px;
   font-size: large;
   font-weight: bold;
}

.wel_button{
   background-color: white;
   border: 1.5px solid white;
}

.black_button{
   background-color: black;
   color: white;
   width: 300px;
   border: 1.5px solid black;
   
}

a{
   color: #1DA1F2;
   text-decoration: none;
}

a:hover{
   color: black;
}

#posts{
   max-width: 500px;
   text-align: center;
   position: relative;
   left: 100px;
}

#nav{
   position: relative;
   max-width: 31%;
   min-width: 31%;
}

#media{
   border-right: 1px solid #2f3336;
   border-left: 1px solid #2f3336;
}

#main_search{
   position: sticky;
   top: 0;
   min-height: 60px;
   max-height: 60px;
   padding-left: 50px;
   padding-top: 25px;
}

#header_section{
   background-color: #333639;
   min-height: 225px;
}

#pfp{
   height: 125px;   
   float: left;
   margin-top: 160px;
   margin-left: 35px;
}

#header_button{
   border-radius: 20px;
   float: right;
   margin-top: 250px;
   min-width: 30px;
   min-height: 30px;
   border-color: #f0f8ff;
   border: 1px 1px 1px 1px solid;
   padding: 5px 20px 5px 20px;
   font-size: large;
   margin-right: 25px;
}

#header_button:hover{
   background-color: #242323;
}


#main_bar{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #000000;
   text-align: center;
   border-bottom: 2px solid #2f3336;
}

#bar_item{
   display: inline-block;
   padding: 0px 15px 0px 15px;
}

#bar_item a{
   display: block;
   color: rgb(250, 250, 250);
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

#bar_item a:hover{
   background-color: #181818;
}


#nav_bar{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #000000;
   position: fixed;
   left: 300px;
   font-size: 1.5em;
}

#nav_item{
   width: 200px;
   padding: 0px 15px 0px 15px;
   margin-top: 5px;
   margin-bottom: 12px;
}

#nav_item a{
   display: block;
   text-align: left;
   padding: 10px 14px 10px 16px;
   text-decoration: none;
}

#nav_item a:hover{
   background-color: #181818;
   border-radius: 20px;
}

#trends{
   max-width: 31%;
   min-width: 31%;
}

#media{
   min-width: 38%;
}

#following{
   display: inline-block;
   margin-bottom: 20px;
   margin-right: 20px;
   margin-top: 0px;
   padding: 0;
}

#followers{
   display: inline-block;
   margin: 0;
   padding: 0;
}

#content{
   position: relative;
   padding-left: 20px;
   border-right: #2f3336;
   padding-top: 0px;
   
}

#calendar{
   margin-top: 10px;
   margin-bottom: 0px;
   padding-bottom: 0px;
   
}

#tag{
   margin-bottom: 20px;
   margin-top: 0px;
}

#profile_name{
   margin-bottom: 0px;
}

.tweet_button{
   background-color: #1DA1F2;
   border: 1.5px solid #1DA1F2;
 }
 
