{% extends 'base.html' %}

{% block title %}
   <title>Create Profile</title>
{% endblock %}

{% block css %}
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }} ">
{% endblock %}

{% block script %}
   <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
{% endblock %}



{% block main %}

   <header>
      <h1 style="text-align: center;">CREATE PROFILE</h1>
      <hr>
   </header>

   <main>
      {% with messages = get_flashed_messages() %}
         {% if messages %}
            {% for msg in messages %}
               <p>{{msg}}</p>
            {% endfor %}
         {% endif %}
      {% endwith %}

      <div style="text-align:left; font-size: 2em; margin-left: 50px;">
         <form action="" method="POST">
            <label for="create_username">username: </label><br>
            <input type="text" placeholder="Enter Username" name="create_username" id="create_username" style="background-color: aliceblue; color:black; margin-bottom: 20px;"><br>
            
            <label for="create_password">password: </label><br>
            <input type="text" placeholder="Enter Password" name="create_password" id="create_password" style="background-color: aliceblue; color:black; margin-bottom: 20px;"><br>
   
            <label for="display_name">display name: </label><br>
            <input type="text" placeholder="Enter Display Name" name="display_name" id="display_name" style="background-color: aliceblue; color:black; margin-bottom: 20px;"><br>

            <label for="birthday">birthday: </label>
            <input type="date" name="birthday" id="birthday" style="background-color: aliceblue; color:black; margin-bottom: 20px;"><br>

            <input type="radio" name="user_type" id="SU" value="SU">
            <label for="SU" style="font-size: 20px;">Super User</label><br>

            <input type="radio" name="user_type" id="CU" value="CU">
            <label for="CU" style="font-size: 20px;">Corporate User</label><br>

            <input type="radio" name="user_type" id="TU" value="TU">
            <label for="TU" style="font-size: 20px;">Trendy User</label><br>

            <input type="radio" name="user_type" id="OU" value="OU">
            <label for="OU" style="font-size: 20px;">Ordinary User</label><br>

            <label for="account_info">account number: </label><br>
            <input type="text" placeholder="Enter Account Number" name="account_info" id="account_info" style="background-color: aliceblue; color:black; margin-bottom: 20px;"><br>

            <label for="account_value">account balance: </label><br>
            <input type="text" placeholder="Enter Balance" name="account_value" id="account_value" style="background-color: aliceblue; color:black; margin-bottom: 20px;"><br>


            
            <input type="submit" value="submit" style="color: black; background-color:aliceblue; font-size: 20px; margin-top: 20px;">
         </form>
      </div>
      
      
   </main>
{% endblock %}
