{% extends 'user_base.html' %}

{% block title %}
   <title>Profile</title>
{% endblock %}


{% block script %}
   <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
   <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
{% endblock %}


{% block content %}
    
        <div class = "content" style="width: 60vw;">
            <div style = "font-weight: bold; font-size: 20px; margin-top: 15px;" id="home_header">
                <p id="home_text">Home</p>
            </div>

            <hr>
            <br>
            
            <h2 style = "margin-left: 10px;"> All Posts: </h2><br>
            
            {% for post in posts_with_profiles|reverse %}
                <div class="posts" style="background-color: #1DA1F2; width: 35%;">
                    <span id="post_header">
                        By: @{{post.username}}
                        <i class="fas fa-star"></i>
                        {{post.type}}
                        <i class="fas fa-star"></i>
                        Time Posted: {{ post.time_posted }}
                    </span>
    
                    <div id="main_post_content">
                        <br><br>
                        {{post.content | safe}}
                        <br><br>
                    </div>

                    <form action="{{ url_for('home', selected_post=post.post_id) }}" method="POST">
                        <input type="submit" value="like" id="like_button" name="like_button">
                
                        {% if post.post_id in users_likes %}
                        <i class="fas fa-heart" style="color: rgb(247, 66, 66)" id="heart"></i>
                            
                        {% endif %}
                        {{ post.likes }}
                    </form>
                </div>
                <br>
            {% endfor %}
        </div>
        
        <div class="search">
            <form style="margin-left: 20px;" action="" method="POST">
                <input type="text" id="search" name="query" placeholder="Search">
                <button type="submit"><i class="fas fa-search"></i></button>
                <br><br>
            </form>
        </div>

{% endblock %}


