{% extends 'base.html' %}

{% block title %}
   <title>Home</title>
{% endblock %}

{% block css %}
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }} ">
{% endblock %}

{% block script %}
   <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
{% endblock %}



{% block header %}
   <header>
      <a href="{{ url_for('profile') }}"><p>Click here for profile</p></a>
   </header>
{% endblock %}

{% block main %}
   <main>
      main home
   </main>
{% endblock %}

