{% extends 'base.html' %}

{% block title %}
   <title>Home</title>
{% endblock %}

{% block css %}
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }} ">
{% endblock %}

{% block script %}
   <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
{% endblock %}



{% block header %}
   <header>
      <a href="{{ url_for('profile') }}"><p>Click here for profile</p></a>
   </header>
{% endblock %}

{% block main %}
   <main>
      <div>
         <form action="" method="POST">
            <textarea name="post" id="post" cols="30" rows="10"></textarea><br><br>
            <input type="submit" value="submit">
         </form>
      </div>

      <br>

      <h2>POSTS:</h2><br>

      {% for i in range(0, len) %}
         <p>By: {{username}}</p>
         <p>Post: <h3>{{post[i]}}</h3></p>
         <br>
      {% endfor %}

      
      
         
   </main>
{% endblock %}

