{% extends 'base.html' %}

{% block title %}
   <title>Login Page</title>
{% endblock %}

{% block css %}
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }} ">
{% endblock %}

{% block script %}
   <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
{% endblock %}



{% block main %}

<div class="container">
   {% with messages = get_flashed_messages() %}
         {% if messages %}
            {% for msg in messages %}
               <p>{{msg}}</p>
            {% endfor %}
         {% endif %}
   {% endwith %}
   <main class="log_block">
      <h2 style="text-align: center; font-size: 30px; margin-top: 40px;">Login to Mini-Twitter!</h2>
      <div style="text-align:left; font-size: 2em; padding: 40px;">
         <div style="font-size: 15px; display: flex; align-items: center;">
            <h3>Don't have an account? </h3>
            <a style = "font-weight: bold; margin-left: 6px;" href="/create_profile">Sign up</a>
         </div>    
         <div style = "font-size: 15px; display: flex; align-items: center; margin-top: 10px;">
            <h3>Forgot your password? </h3>
            <a style = "font-weight: bold; margin-left: 6px;" href="/reset_password">Reset password</a>
         </div>
         <form action="" method="POST">
            <div>
               <label for="username">username: </label><br>
               <input type="text" name="username" id="username" style="border:none; font-size:20px; height:30px; width:300px; border-radius:5px; background-color: aliceblue; color:black; margin-bottom: 20px; padding: 15px;"><br>
            </div>

            <div>
               <label for="password">password: </label><br>
               <input type="password" name="password" id="password" style="border:none; font-size:20px; height:30px; width:300px; border-radius:5px; background-color: aliceblue; color:black; padding: 15px;"><br>
            </div>
            <input class="button black_button" type="submit" value="Login" style="margin-top: 50px;">
         </form>
      </div>
   </main>
   
</div>
{% endblock %}
