<!DOCTYPE html>
<html lang="en">
<head>

   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <title>Login</title>



    <link rel="stylesheet" type="text/css" href="C:\Users\nztna\OneDrive\login-page\static\css\style_login.css">
    <script defer src="C:\Users\nztna\OneDrive\login-page\static\scripts\scripts_login.js"></script>


</head>

<body>

<main class ="login_page">
    <br>
    <h1 id="login_title">Login</h1>


    <img src="https://eecs.ceas.uc.edu/DDEL/images/default_display_picture.png/@@images/def9ae63-e4c8-4b1d-a55a-b4b18781883f.png" id = "avatar">

    <div id="error">
        <p id="error-msg">Invalid Username and/or Password</p>
    </div>

    <form id="input">
                <br>
                <label for="user"><b>Username</b></label>
                <input type="text" name="username" placeholder="Username" class="login-box">
                <br><br>
                <label for="pass"><b>Password</b></label>
                <input type="password" name="password" placeholder="Password" class="login-box">
                <br><br>
                <input type="submit" value="Login" id="button"><br>
    </form>

    
</main>

</body>
</html>
