<!DOCTYPE html>
<html lang="en">
<head>

   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>Post</title>

   <link rel="stylesheet" type="text/css" href="C:\Users\nztna\OneDrive\post-page - Copy\static\css\style.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
   integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <script defer src="C:\Users\nztna\OneDrive\post-page - Copy\static\scripts\scripts.js"></script>
   
</head>
<body>
   <main class = "post_page"> 
      <div id="post_mes">
         
         
         <img src="https://eecs.ceas.uc.edu/DDEL/images/default_display_picture.png/@@images/def9ae63-e4c8-4b1d-a55a-b4b18781883f.png" id = "avatar">
         <form action="http://www.example.com/example.htm">
            <input type="text" name="text-box" placeholder="Make Post" class="post-box">
            <input type="submit" value="Post" id="post-btn"><i style="color:blue"></i>
         </form>
         <button class="btn"><i class="fas fa-image" style="color:blue"></i></button>
         <button class="btn"><i class="fas fa-video-camera" style="color:blue"></i></button>
         <button class="btn"><i class="fas fa-ad" style="color:blue"></i></button>
         

      </div>
      
      
      <div id="message">
         <p>
            <img style="vertical-align:middle" src="https://d23.com/app/uploads/2020/01/1180w-463h_010920-riviera-art-gallery-780x440.jpg" id = "profile_img" width="90" height="75"/>
            <span>Username1 </span>
         </p>
         <p>Hello World, This is my message on Twiiter Inc</p>
         <button class="btn"><i class="fa fa-thumbs-up" style="color:blue"></i></button>
         <button class="btn"><i class="fa fa-thumbs-down" style="color:blue"></i></button>


      </div>

      <div id="message">
         <p>
            <img style="vertical-align:middle" src="https://images.unsplash.com/photo-1516368703560-076d597296a9?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bG92ZWx5fGVufDB8fDB8fHww" id = "profile_img" width="90" height="75"/>
            <span>Username2 </span>
         </p>
         <p>Hello World, This is my message on Twiiter Inc</p>
         <button class="btn"><i class="fa fa-thumbs-up" style="color:blue"></i></button>
         <button class="btn"><i class="fa fa-thumbs-down" style="color:blue"></i></button>


      </div>

   </main>
</body>
</html>