{% extends 'user_base.html' %}

{% block title %}
   <title>profile</title>
{% endblock %}

{% block content %}

    <div class="content" style="background-color: white;">
        <div class="profile-box">
            <div class="main-header">
                <div class="profile-header">
                    <img src="{{ url_for('static', filename='uploads/' + background_picture) }}" alt="Background Picture">
                    <button id="edit-profile-button"><a href="{{ url_for('update_profile') }}">Edit Profile</a></button>
                </div>

                <div class="profile-picture">
                    <img src="{{ url_for('static', filename='uploads/' + profile_picture) }}" alt="Profile Picture">
                </div>

                <div class="profile-content">
                    <h2>{{ display_name }}</h2>
                    <span style = 'margin-bottom: 10px;'>@{{current_username}}</span>
                    <p>{{bio_info}}</p>
                </div>

                <div class="profile-navigation">
                    <ul>
                        <li><a href="#">Tweets</a></li>
                        <li><a href="#">Replies</a></li>
                        <li><a href="#">Media</a></li>
                        <li><a href="#">Likes</a></li>
                    </ul>
                </div>
            </div>

            <br>
            <hr>
            <br><br>

            {% for i in range(len - 1, -1, -1) %}
                <div class="posts" style="background-color: #1DA1F2; width: 30%;">
                    <span id="post_header">
                        By: @{{username}}
                        <i class="fas fa-star"></i>
                        {{ _type[i] }}
                        <i class="fas fa-star"></i>
                        Time Posted: {{ time_posted[i] }}
                    </span>

                    <div id="main_post_content">
                        <br><br>
                        {{post[i]}}
                        <br><br>
                    </div>

                    <form action="{{ url_for('profile', selected_post=post_id[i]) }}" method="POST">
                        <input type="submit" value="like" id="like_button" name="like_button">
                
                        {% if post_id[i] in users_likes %}
                        <i class="fas fa-heart" style="color: rgb(247, 66, 66)" id="heart"></i>
                            
                        {% endif %}
                        {{ users_number_of_likes[i] }}
                    </form>
                </div>
                <br>
            {% endfor %}
        </div>
    </div>

{% endblock %}
