{% extends 'base.html' %}

{% block title %}
   <title>profile</title>
{% endblock %}

{% block css %}
   <link rel="icon" href="cartoon_bird.jpg" type="image/x-icon">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pfp.css') }} ">
{% endblock %}

{% block script %}
   <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
   <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
{% endblock %}



{% block main %}
   
<body>
   <div class="container">
       <div class="wrapper">
           <div class="sidebar">
               <h2>mini-Twitter</h2>
               <ul>
                   <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
                   <li><a href="#"><i class="fas fa-user"></i>Profile</a></li>
                   <li><a href="#"><i class="fas fa-address-card"></i>Trending</a></li>
                   <li><a href="#"><i class="fas fa-project-diagram"></i>Settings</a></li>
               </ul> 
           </div>
       </div>

       <div class="box1">
           <img src="outer_space.jpg" alt="background picture">

           <div class="description">
               <h2>{{ current_username }}</h2>
               <span>@a_rodriguez</span>
               <p> Soccer | Madrid fan | Colombia </p>
               <p><br>Welcome to my page, where I talk about soccer, school, and all things life!</p>
               <p><br>320 <b>Following</b> &nbsp &nbsp  400 <b>Followers</b></p>

           </div>

           <div class="navigation">
               <hr>
               <ul>
                   <li><a href="#">Tweets</a></li>
                   <li><a href="#">Replies</a></li>
                   <li><a href="#">Media</a></li>
                   <li><a href="#">Likes</a></li>
               </ul>
           </div>
       </div>

       <div class="profile_picture">
           <img src="default_profile.webp" alt="profile picture">
       </div>

       <div class="bird">
           <img src="cartoon_bird.jpg" alt="cartoon bird">
       </div>
   
   </div>

      

</body>
{% endblock %}
