{% extends 'base.html' %}

{% block title %}
   <title>profile</title>
{% endblock %}

{% block css %}
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }} ">
{% endblock %}

{% block script %}
   <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
{% endblock %}



{% block main %}
   <main>

      <div id="nav" class="container">
         <ul id="nav_bar">
            <li id="nav_item"><a href="">M[T]</a></li>
            <li id="nav_item"><a href="">Home</a></li>
            <li id="nav_item"><a href="">Explore</a></li>
            <li id="nav_item"><a href="">Notifications</a></li>
            <li id="nav_item"><a href="">Messages</a></li>
            <li id="nav_item"><a href="">Lists</a></li>
            <li id="nav_item"><a href="">Bookmarks</a></li>
            <li id="nav_item"><a href="">Communities</a></li>
            <li id="nav_item"><a href="">Premium</a></li>
            <li id="nav_item"><a href="">Profile</a></li>
            <li id="nav_item"><a href="">More</a></li>
            <li id="nav_item"><a href="">Post</a></li>
         </ul>
      </div>

      <div id="media" class="container">
         <div id="main_search">Search Bar</div>

         <div id="header_section">
            <img id="pfp" src="/static/images/finn.jpg" alt="Image of Finn">
            <button id="header_button">Edit Profile</button>
         </div>

         <br><br><br>
         <div id="content">
            <h1 id="profile_name">"Profile Name"</h1>
            <h3 id="tag">"Tag"</h3>

            <h3 id="calendar">"Calendar"</h3>
            <span id="following"><h3>"X Following"</h3></span>
            <span id="followers"><h3>"X Followers"</h3></span>
         </div>
         
         <ul id="main_bar">
            <li id="bar_item"><a href="">Posts</a></li>
            <li id="bar_item"><a href="">Replies</a></li>
            <li id="bar_item"><a href="">Highlights</a></li>
            <li id="bar_item"><a href="">Highlights</a></li>
            <li id="bar_item"><a href="">Likes</a></li>
         </ul>

         <div id="posts">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quidem hic delectus. Dolores odio cupiditate reprehenderit mollitia eveniet! Omnis quisquam, ut quam maiores quas sunt placeat aperiam vero voluptatum debitis?</p>
            <br><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quidem hic delectus. Dolores odio cupiditate reprehenderit mollitia eveniet! Omnis quisquam, ut quam maiores quas sunt placeat aperiam vero voluptatum debitis?</p>
            <br><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quidem hic delectus. Dolores odio cupiditate reprehenderit mollitia eveniet! Omnis quisquam, ut quam maiores quas sunt placeat aperiam vero voluptatum debitis?</p>
            <br><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quidem hic delectus. Dolores odio cupiditate reprehenderit mollitia eveniet! Omnis quisquam, ut quam maiores quas sunt placeat aperiam vero voluptatum debitis?</p>
            <br><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quidem hic delectus. Dolores odio cupiditate reprehenderit mollitia eveniet! Omnis quisquam, ut quam maiores quas sunt placeat aperiam vero voluptatum debitis?</p>
            <br><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quidem hic delectus. Dolores odio cupiditate reprehenderit mollitia eveniet! Omnis quisquam, ut quam maiores quas sunt placeat aperiam vero voluptatum debitis?</p>
            <br><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quidem hic delectus. Dolores odio cupiditate reprehenderit mollitia eveniet! Omnis quisquam, ut quam maiores quas sunt placeat aperiam vero voluptatum debitis?</p>
            <br><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quidem hic delectus. Dolores odio cupiditate reprehenderit mollitia eveniet! Omnis quisquam, ut quam maiores quas sunt placeat aperiam vero voluptatum debitis?</p>
            <br><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quidem hic delectus. Dolores odio cupiditate reprehenderit mollitia eveniet! Omnis quisquam, ut quam maiores quas sunt placeat aperiam vero voluptatum debitis?</p>
            <br><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quidem hic delectus. Dolores odio cupiditate reprehenderit mollitia eveniet! Omnis quisquam, ut quam maiores quas sunt placeat aperiam vero voluptatum debitis?</p>
            <br><br>
         </div>

      </div>

      

      <div id="trends" class="container">
         random trends
      </div>
   </main>
{% endblock %}
