{% extends 'base.html' %}

{% block title %}
   <title>Password Reset</title>
{% endblock %}

{% block css %}
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }} ">
{% endblock %}

{% block script %}
   <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
{% endblock %}

{% block main %}
   <div class="container">
      {% with messages = get_flashed_messages() %}
         {% if messages %}
            {% for msg in messages %}
            <br>
            <div style="background-color: red; color: white; border-radius: 5px;">
                <p style="padding: 5px 10px;">{{msg}}</p>
            </div>
            <br>
            {% endfor %}
         {% endif %}
      {% endwith %}
      <main class="log_block">
         <h2 style="text-align: center; font-size: 30px;">Reset Password</h2>
         <div style="text-align:left; font-size: 2em; padding: 40px;">
            <div style="font-size: 15px; display: flex; align-items: center;">
                <h3>Have an account already? </h3>
                <a style = "font-weight: bold; margin-left: 6px;" href="/login">Login</a>
            </div> 
            <div style="font-size: 15px; display: flex; align-items: center;">
                <h3>Don't an account? </h3>
                <a style = "font-weight: bold; margin-left: 6px;" href="/create_profile">Sign Up</a>
            </div> 
         <form action="" method="POST">
            <div>
               <label for="username">Username: </label><br>
               <input type="text" name="username" id="username" required style="border:none; font-size:20px; height:30px; width:300px; border-radius:5px; background-color: aliceblue; color:black; margin-bottom: 20px; padding: 15px;"><br>
            </div>

            <div>
               <label for="new_password">New Password: </label><br>
               <input type="password" name="new_password" id="new_password" required style="border:none; font-size:20px; height:30px; width:300px; border-radius:5px; background-color: aliceblue; color:black; margin-bottom: 20px; padding: 15px;"><br>
            </div>

            <input class="button black_button" type="submit" value="Reset Password">
         </form>
        </div>
      </main>
   </div>
{% endblock %}

