{% extends 'base.html' %}

{% block title %}
   <title>Welcome</title>
{% endblock %}

{% block css %}
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }} ">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/posts.css') }} ">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/surf_style.css') }} ">
{% endblock %}

{% block script %}
   <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
   <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
{% endblock %}



{% block main %}

   {% for post in posts_with_profiles|reverse %}
      <div class="posts" style="background-color: #1DA1F2; width: 35%;">
         <span id="post_header" style="background-color: #1DA1F2;">
            By: @{{post.username}}
            <i class="fas fa-star" style="background-color: #1DA1F2;"></i>
            {{post.type}}
            <i class="fas fa-star" style="background-color: #1DA1F2;"></i>
            Time Posted: {{ post.time_posted }}
         </span>

         <div id="main_post_content" style='background-color: #1DA1F2;'>
            <br><br>
            {{post.content | safe}}
            <br><br>
         </div>

         <i class="fas fa-heart" style="color: rgb(247, 66, 66); background-color: #1DA1F2;" id="heart"></i>   
         {{ post.likes }}
         </form>
      </div>
      <br>
   {% endfor %}

{% endblock %}