<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }} ">
    <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
    <title>Edit Profile</title>
</head>

<div class = "container">
    <main class="log_block">
    <header>
        <h1 style="text-align: center; margin-bottom: 30px;">Edit Profile</h1>
    </header>

    <form action="{{ url_for('update_profile') }}" method="POST" enctype="multipart/form-data">

        <label style = "font-size: 20px;" for="profile_picture">Choose a new profile picture:</label>
        <input type="file" name="profile_picture" id="profile_picture" accept=".png, .jpg, .jpeg, .gif" style="margin-bottom: 20px"><br>
    
        <label style = "font-size: 20px;" for="background_picture">Choose a new background picture:</label>
        <input type="file" name="background_picture" id="background_picture" accept=".png, .jpg, .jpeg, .gif" style="margin-bottom: 20px"><br>

        <label style = "font-size: 20px;" for="bio_info">Bio:</label>
        <textarea name="bio_info" id="bio_info" rows="4">{{ bio_info }}</textarea>
    
        <input style = "margin-bottom: 10px; margin-top: 20px;" class="update_button" type="submit" value="Done">
    </form>
    </main>
    
</div>
</html>