{% extends 'base.html' %}

{% block title %}
   <title>Home</title>
{% endblock %}

{% block css %}
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/posts.css') }} ">
{% endblock %}

{% block script %}
   <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
   <script src="https://kit.fontawesome.com/0282164ea3.js" crossorigin="anonymous"></script>
{% endblock %}



{% block header %}
   <header>
      <a href="{{ url_for('profile') }}"><p>Click here for profile</p></a>
   </header>
{% endblock %}

{% block main %}
   <main>
      <div>
         <form action="" method="POST">
            <textarea name="post" id="post" cols="30" rows="10"></textarea><br><br>
            <input type="submit" value="submit" name="tweet_submit">
         </form>
      </div>

      <br>

      

      <div class="posts_column">

         <h2>POSTS:</h2><br>

         {% for i in range(len - 1, -1, -1) %}
         <div class="posts" style="background-color: rgb(121, 203, 248);">
            By: {{username}}
            <br><br>
            Post: {{post[i]}}
            <br><br>
            Time Posted: {{ time_posted[i] }}
            <br><br>

               <form action="{{ url_for('user_posts', selected_post=post_id[i]) }}" method="POST">
                  <input type="submit" value="like" id="like_button" name="like_button">
                  
                  
                  
                  {% if post_id[i] in users_likes %}
                  <i class="fas fa-heart" style="color: rgb(247, 66, 66)" id="heart"></i>
                     
                     
                  {% endif %}
                  {{ users_number_of_likes[i] }}
               </form>
         </div>
         <br>
         {% endfor %}

      </div>

      
      
         
   </main>
{% endblock %}

