<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <h1>Welcome to Mini-Twitter! <h1>
        <button class="wel_button button"><a href="/login">Log In</a></button>
        <button class="wel_button button"><a href="/create_profile">Sign Up</a></button>
    </div>

    
</body>
</html>